* {
  font-size: 14px;
}
hr {
  border: 2px dotted #eee;
}
button {
  border-radius: 4px;
  border: 1px solid transparent;
  margin: 10px 5px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  line-height: 2rem;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}
input[type='text'] {
  border: 1px solid #eee;
  padding: 0 6px;
  margin: 10px 4px;
  line-height: 2rem;
  -webkit-box-flex: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
  -webkit-transition: border-color 0.3s ease-out;
  transition: border-color 0.3s ease-out;
}
input[type='text']:focus {
  border: 1px solid #3bb4f2;
  -webkit-box-shadow: 2px 2px #caebfc;
          box-shadow: 2px 2px #caebfc;
}
.inputDone {
  color: #ccc;
  text-decoration: line-through;
}
#container {
  background-color: #fff;
}
#container {
  max-width: 800px;
  margin: 20px auto;
}
#header {
  margin-bottom: 8px;
}
#totalNumber {
  display: inline;
  font-size: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#changeLang {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 10px 0 10px;
}
#newAct,
.done {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
#newAct:active,
#newAct:hover,
.done:active,
.done:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #449d44;
}
#clear,
.delete {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
#clear:active,
#clear:hover,
.delete:active,
.delete:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c9302c;
}
.top-this {
  height: 30px;
  background: url(top.svg) center no-repeat;
  background-size: contain;
}
#save {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
#save:hover,
#save:active {
  color: #fff;
  background-color: #286090;
  border-color: #286090;
}
#footer {
  text-align: center;
}
.footer-item {
  display: inline-block;
  vertical-align: middle;
}
#githubFork {
  width: 24px;
  height: 24px;
  background: url(footer_ico-github.svg) center no-repeat;
  background-color: transparent;
  background-size: contain;
  opacity: .46;
  cursor: pointer;
}
#copyright {
  color: #aaa;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}
#currentYear {
  color: #aaa;
  font-size: 12px;
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.box-strip {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 320px) {
  input[type="text"] {
    min-width: 260px;
  }
}
@media screen and (max-width: 540px) {
  .done {
    height: 30px;
    padding: 0 6px;
  }
  .delete {
    height: 30px;
    max-width: 30px;
    overflow: hidden;
    padding: 0 6px;
  }
}
@media screen and (min-width: 960px) {
  * {
    font-size: 16px;
  }
  #totalNumber {
    display: inline;
    font-size: 30px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  #container {
    max-width: 800px;
    margin: 40px auto;
    border: 1px solid #ddd;
    padding: 40px 20px;
    -webkit-box-shadow: 6px 6px 30px #f7f7f7;
            box-shadow: 6px 6px 30px #f7f7f7;
  }
  .top-this {
    height: 34px;
    width: 50px;
  }
}
