//color
@success-green:#5cb85c;
@success-green-active:#449d44;
@danger-red:#d9534f;
@danger-red-active:#c9302c;
@primary-blue:#337ab7;
@primary-blue-active:#286090;
@second-blue:#3bb4f2;
//font
@uni-font-size:18px;
@header-font-size:40px;
*{
	font-size: @uni-font-size;
}
button{
	border-radius: 4px;
	border: 1px solid transparent;
	margin:0 10px 0 10px;
	padding: 0 10px 0 10px;
	cursor: pointer;
	line-height: 2rem;
	text-align: center;
	transition: background-color .3s ease-out,border-color .3s ease-out;

}
input[type='text']{
	border: 1px solid #eee;
	padding: 0 10px 0 10px;
	margin: 10px;
	line-height: 2rem;
	flex-grow:10;
	transition: border-color .3s ease-out;
}
input[type='text']:focus{
	border:1px solid @second-blue;
	box-shadow: 2px 2px lighten(@second-blue,30%);
}
.inputDone{
	color: #ccc;
	text-decoration: line-through;
}
#container{
	background-color:#fff;
}
#header{
	font-size: @header-font-size;
}
#newAct,
.done{
	flex-grow:1;
	color: #fff;
  	background-color: @success-green;
  	border-color: @success-green;
}
#newAct:active,
#newAct:hover,
.done:active,
.done:hover{
	color: #fff;
  	background-color: @success-green-active;
  	border-color: @success-green-active;
}
#clear,
.delete{
	flex-grow:1;
	color: #fff;
  	background-color: @danger-red;
  	border-color: @danger-red;
}
#clear:active,
#clear:hover,
.delete:active,
.delete:hover{
	color: #fff;
  	background-color: @danger-red-active;
  	border-color: @danger-red-active;
}
#save{
	color: #fff;
  	background-color: @primary-blue;
  	border-color: @primary-blue;
}
#save:hover,
#save:active{
	color: #fff;
  	background-color: @primary-blue-active;
  	border-color: @primary-blue-active;
}


//布局
.box{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}